{% extends "blog/base.html" %}
{% block title %} Авторизация {% endblock %}
{% block content %}
<h2> Логин </h2>
<a href="{% url 'signup' %}" class="btn btn-link btn-lg active btn-block">Регистрация</a>
<a href="{% url 'social:begin' 'github' %}" class="btn btn-link btn-lg active btn-block">GitHub</a>
<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-link btn-lg active btn-block">Google</a>
<form method="post" class="form">
    {{ form.username }}
    {{ form.password }}
    <div class="mb-1">Запомнить меня: {{ form.remember_me }}</div>
    {% csrf_token %}
    <input type="submit" class="btn btn-primary btn-lg" value="Войти">
</form>
<a href="{% url 'password_reset' %}">Сбросить пароль</a>
{% endblock %}