{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}"Болталка"{% endblock %}

{% block content %}
<h1>О жиме</h1>
{% if tag %}
<h2>Тэги: "{{ tag.name }}"</h2>
{% endif %}
{% for post in posts %}
<h2 class="fw-bolder">
    <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
    </a>
</h2>
<div class="row">
    {% if post.tags.all %}
    Тэги:
    {% for tag in post.tags.all %}
    <a class="badge bg-light rounded-pill text-decoration-none link-dark"
        href="{% url 'blog:post_list_by_tag' tag.slug %}">
        {{ tag.name }}
    </a>
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <!-- {% endif %} -->
</div>
<div class="text-muted fst-italic mb-2">
    Опубликован {{ post.publish }} by {{ post.author }}
</div>
<div class="mb-5">{{ post.body|markdown|truncatewords_html:30 }}</div>
{% endfor %}
{% include "pagination.html" with page=posts %}
{% endblock %}