{% extends "blog/base.html" %}

{% block title %}Поделиться{% endblock %}

{% block content %}
{% if sent %}
<h1>E-mail успешно отправлен</h1>
<p>
    "{{ post.title }}" отправлен
    на {{ form.cleaned_data.to }}.
</p>
{% else %}
<h1>Поделиться "{{ post.title }}" на e-mail</h1>
<form method="post">
    {{ form.name }}
    {{ form.email }}
    {{ form.to }}
    {{ form.comments }}
    {% csrf_token %}
    <input type="submit" value="Поделиться" class="btn btn-primary mb-3 btn-lg">
</form>
{% endif %}
{% endblock %}